@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        width: 100vw;
        height: 100vh;
    }

    header {
        display: flex;
        padding: 8px;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
    }
}